*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

button {
  cursor: pointer;
  border: none;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*##### for-phone-only ##########*/
@media (max-width: 599px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.375rem 2rem 4rem 2rem;
  }
  header .logo {
    width: 32px;
    height: 32px;
  }
  header nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  header nav ul li + li {
    margin-left: 12px;
  }
  header nav ul li a {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 1px;
    color: #242942;
  }
  header .login {
    margin-left: 23px;
  }
  header .login a {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 1px;
    color: #242942;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  main {
    display: flex;
    flex-direction: column-reverse;
  }
  main .text {
    margin-top: 67px;
    padding: 5px 32px 90px 32px;
    text-align: center;
    display: flex;
    align-items: center;
  }
  main .text .new {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .text .new .p1 {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 1px;
    color: #ffffff;
    background: #242942;
    border-radius: 12.5px;
    padding: 4px 11px;
    margin-right: 15px;
  }
  main .text .new .p2 {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 5px;
    color: #242942;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  main .text h1 {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #242942;
    margin-bottom: 32px;
  }
  main .text .project {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #242942;
    mix-blend-mode: normal;
    opacity: 0.75;
    margin-bottom: 64px;
  }
  main .text .button-and-p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  main .text .button-and-p button {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 1.06667px;
    color: #ffffff;
    margin-right: 14px;
    background: #ff5e5e;
    border-radius: 5px;
    padding: 11px 22px;
  }
  main .text .button-and-p p {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2.5px;
    color: #242942;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 0;
  }
}
/*############ for-tablet-portrait-up ##############*/
@media (min-width: 600px) {
  body {
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 705px 427px;
    background-position: top right;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 10.3125rem 7.75rem 10.3125rem;
  }
  header .logo {
    width: 32px;
    height: 32px;
  }
  header nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  header nav ul li + li {
    margin-left: 42px;
  }
  header nav ul li a {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 1px;
    color: #242942;
  }
  header .login {
    margin-left: 93px;
  }
  header .login a {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 1px;
    color: #242942;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 165px;
    padding-bottom: 125px;
  }
  main .text {
    width: 500px;
  }
  main .text .container {
    display: block;
  }
  main .text .new {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  main .text .new .p1 {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 1px;
    color: #ffffff;
    background: #242942;
    border-radius: 12.5px;
    padding: 4px 11px;
    margin-right: 15px;
  }
  main .text .new .p2 {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 5px;
    color: #242942;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  main .text h1 {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #242942;
    width: 31.25rem;
    margin-bottom: 32px;
  }
  main .text .project {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #242942;
    mix-blend-mode: normal;
    opacity: 0.75;
    margin-bottom: 64px;
    max-width: 16.8125rem;
  }
  main .text .button-and-p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  main .text .button-and-p button {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 1.06667px;
    color: #ffffff;
    margin-right: 24px;
    background: #ff5e5e;
    border-radius: 5px;
    padding: 15px 32px;
  }
  main .text .button-and-p p {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 5px;
    color: #242942;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 0;
  }
  main .images {
    height: 100%;
  }
  main .images img {
    -o-object-position: 200px 0px;
       object-position: 200px 0px;
    height: auto;
    width: 916px;
  }
}
/*############ for-tablet-landscape-up #############*/
/*############ for-desktop-up ###########*/
/*############ for-big-desktop-up ##########*//*# sourceMappingURL=style.css.map */